@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

html {
    height: 100%;
    overflow: hidden;
    /*background-color: rgba(55, 55, 55, 1);*/
    font-size: 20px;
    font-family: 'Noto Sans Thai', sans-serif;
}

.colon {
    display: none;
}

#log {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Message Box */

.wrapper {
    position: relative;
    margin: 1.25rem 0.25rem 0.25rem;
    padding: 0.05rem;
    /* Normal chatter background color -- Edit Here */
    background: rgba(0, 0, 0, 0);
    /* --- */
}

#log>div.deleted {
    visibility: hidden;
}

#log>div {

    animation: fadeInRight .75s ease forwards,
    fadeOutRight 0.75s ease {
        message_hide_delay
    }

    forwards;

    -webkit-animation: fadeInRight .75s ease forwards,
    fadeOutRight 0.75s ease {
        message_hide_delay
    }

    forwards;

}

.meta {
    font-size: 1rem;
    text-align: right;
    color: white;
    position: relative;
    z-index: 5;
}

.emoji {
    width: 1.25em;
    height: 1.25em;
    margin: 0 .05em 0 .1em;
    vertical-align: -.1em;
    transform: translate(0, 0.05em);
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.badges {
    display: inline-block;
    z-index: 3;
    vertical-align: -.1em;
}

.badges-topright {
    position: absolute !important;
    transform: translate(0, -50%);
    right: 0;
    top: 0.55rem;
}

.badge {
    display: inline-block;
    margin: 0 .1em 0 .1em;
    position: relative;
    height: 1.25rem;
    vertical-align: middle;
    transform: rotate(15deg);
}

img.badge {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.message_box {
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0.15rem 0.5rem;
    /* Normal chatter background color -- Edit Here */
    background: #242424;
    background: linear-gradient(90deg, #424242 0%, #242424 100%);
    /* --- */
    border-radius: 5px;
    font-size: 1rem;
    text-align: left;
    color: white;
    word-wrap: break-word;
    word-break: break-word;
    box-shadow: 2px 2px 3px #121212;
    z-index: 5;
}

.username_box {
    position: absolute;
    padding: 0.25rem 0.75rem;
    transform: translate(0, -50%);
    left: -0.25rem;
    top: -0.15rem;
    border-radius: 5px;
    background: #c8c8c8;
    background: linear-gradient(90deg, #c8c8c8 0%, #fefefe 45%, #c8c8c8 100%);
    color: black;
    text-align: center;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
    box-shadow: 1px 1px 3px #121212;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: -webkit-calc(100% - 6rem);
    max-width: -moz-calc(100% - 6rem);
    max-width: calc(100% - 6rem);
}

.username_box_sub {
    position: absolute;
    padding: 0.25rem 0.75rem;
    transform: translate(0, -50%);
    left: -0.25rem;
    top: -0.15rem;
    border-radius: 5px;
    color: black;
    background: #ffd75a;
    background: linear-gradient(90deg, #ffd75a 0%, #fff5d6 45%, #ffd75a 100%);
    text-align: center;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
    box-shadow: 1px 1px 3px #121212;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: -webkit-calc(100% - 6rem);
    max-width: -moz-calc(100% - 6rem);
    max-width: calc(100% - 6rem);
}

.username_box_streamer {
    position: absolute;
    padding: 0.25rem 0.75rem;
    transform: translate(0, -50%);
    left: -0.25rem;
    top: -0.15rem;
    border-radius: 5px;
    background: #3793ff;
    background: linear-gradient(90deg, #ff7cd1 0%, #3793ff 100%);
    color: white;
    text-align: center;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
    box-shadow: 1px 1px 3px #121212;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: -webkit-calc(100% - 6rem);
    max-width: -moz-calc(100% - 6rem);
    max-width: calc(100% - 6rem);
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.8em 0.2em 0;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1.5em;
    opacity: 0;
}